#top #lianjie ul li a:hover {
	color: #9C3;
}
#sousuo {
	float: right;
	width: 600px;
	padding-bottom: 0mm;
	padding-top: 0ex;
	margin-top: auto;
	font-family: "华文新魏";
	color: #900;
}
#main {
	float: left;
	width: 800px;
}
#bottom {
	float: left;
	width: 800px;
}
#youqing {
	float: right;
	width: 400px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	clear: right;
	padding-right: 0px;
	top: 0px;
}
#dushu {
	float: right;
	width: 400px;
}
#dushu {
	float: right;
	width: 400px;
}
#dushuzuo {
	float: left;
	width: 400px;
}
#dushuyou {
	float: none;
	width: 800px;
}
